	
	p, td{
		margin: 8px 0 0 0; 
		border: 0px;
	}
	
	p.formklein{
		margin: 5px 0 0 0;
		font-family: Arial, sans-serif;
		color: #000000;
		font-size: 10px;
	}

	input, textarea {
		width: 100%;
	}

	textarea {
		height: 150px;
	}

	input.form, input.formsubmit, select.form, option.form, textarea.form, input.captcha {
		color: #000000;
		font-size: 12px;
		border: 1px solid #C8C8C8;
		padding: 2px;
		background: #fafafa;
		margin:0px;
		margin-top: 5px;
		font-family: Arial, sans-serif;
	}

	input.error, textarea.error {
		border: 1px solid #dc4f4f !important;
	}

	input.form:hover, input.form:focus, select.form:hover, textarea.form:hover, select.form:focus, textarea.form:focus {
		border: 1px solid #000000;
	}

	input.formsubmit {
		width: 115px;
		margin-left: 3px;
		cursor: pointer;
	}

	
	span.error2	{
		color: #ce2c09;
		background: #ffd4d9 !important;
	}
	
	.highlight	{
		border: 1px solid #ce2c09 !important;
		background: #ffd4d9 !important; 
	}
	
	#bottom{
		text-align: center;
	}