@font-face{
	font-family: IntriqueScript;
	src: url('IntrScr___.ttf') format('truetype');
}

@font-face{
	font-family: RemachineScript;
	src: url('RemaScr___.ttf') format('truetype');
}

@font-face{
	font-family: DistrictThin;
	src: url('DistTh___.ttf') format('truetype');
}
